.hero__container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  place-items: center;
  height: 100%;
  margin-top: 1.5rem;
}
.hero__main-img {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
}
.hero__icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0 0 0 0.8rem;
}
.hero__bar {
  font-size: var(--size-2xl);
  width: 50px;
  height: 2px;
  background-color: var(--clr-span);
}
.hero__icon {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}
.hero-icon-sm {
  font-size: 1rem;
}
.icon-link:nth-child(1) {
  background-color: lightblue;
  color: white;
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.icon-link:nth-child(2) {
  background-color: lightgreen;
  color: white;
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.icon-link:nth-child(3) {
  background-color: lightcoral;
  color: white;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.hero__info {
  padding: 1.5rem 0.3rem;
}
.hero__name {
  font-size: var(--size-2lg);
  line-height: 1.2;
}
.hero__designation {
  font-size: var(--size-2xl);
}
.hero__desc {
  max-width: 45ch;
  font-size: var(--size-xsm);
  color: var(--clr-medium);
  line-height: 2;
  margin-top: 0.6rem;
}

/* sm */
@media (min-width: 640px) {
  .hero__main-img {
    width: 14rem;
    height: 14rem;
  }
  .hero__name {
    font-size: var(--size-2xl);
  }
  .hero__designation {
    font-size: var(--size-2xl);
  }
  .hero__desc {
    font-size: var(--size-sm);
  }
  .hero__container {
    grid-template-columns: 7fr 5fr;
    height: 65vh;
  }
  .hero__bar {
    display: block;
    font-size: var(--size-2xl);
    width: 150px;
    height: 2px;
  }
}
/* md */
@media (min-width: 768px) {
  .hero__info {
    padding: 1rem;
  }
  .hero__main-img {
    width: 18.5rem;
    height: 18.5rem;
    border-radius: 1rem;
  }
  .hero__name {
    font-size: var(--size-3xl);
  }
  .hero__designation {
    font-size: var(--size-3xl);
  }
  .hero__desc {
    font-size: var(--size-sm);
    line-height: 1.75;
  }
  .hero__container {
    height: 70vh;
  }
}
/* lg */
@media (min-width: 1024px) {
  .hero__name {
    /* font-size: var(--size-4lg); */
    font-size: var(--size-5xl);
  }
  .hero__designation {
    font-size: var(--size-4lg);
    /* font-size: var(--size-5xl); */
  }
  .hero__desc {
    font-size: var(--size-base);
    line-height: 1.75;
  }
  .hero__container {
    height: 80vh;
    margin-top: 0.5rem;
  }
  .hero__icon {
    font-size: var(--size-3xl);
  }
  .hero__main-img {
    width: 20rem;
    height: 23rem;
    border-radius: 1rem;
  }
}
