.skill__title {
  font-size: var(--size-2xl);
}
.skill__desc {
  max-width: 70ch;
  margin: 1.5rem 0;
  color: var(--clr-base);
  font-size: var(--size-xs);
  line-height: 1.75;
  letter-spacing: 1px;
}
.skills__box {
  margin-top: 0.3rem;
  border-radius: 0.3rem;
}
.skill__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  gap: 1rem;
  list-style-type: none;
  padding: 0.5rem;
}
.skills__name {
  display: grid;
  place-items: center;
  padding: 1.3rem 0;
  gap: 1rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}
.skill-icon {
  font-size: var(--size-xl);
  color: black;
}
.skills {
  font-size: var(--size-xs);
  font-weight: var(--font-normal);
  color: var(--clr-medium);
  text-transform: capitalize;
  text-align: center;
}
.skills__name:nth-child(1) {
  background-color: lightpink;
}
.skills__name:nth-child(2) {
  background-color: lightskyblue;
}
.skills__name:nth-child(3) {
  background-color: lightsalmon;
}
.skills__name:nth-child(4) {
  background-color: lightblue;
}
.skills__name:nth-child(5) {
  background-color: #d9d9fb;
}
.skills__name:nth-child(6) {
  background-color: #f48989;
}
.skills__name:nth-child(7) {
  background-color: lightgreen;
}
.skills__name:nth-child(8) {
  background-color: lightseagreen;
}

/* sm */
@media (min-width: 640px) {
  .skill__info {
    grid-template-columns: repeat(3, 1fr);
    /* height: 20rem; */
    padding: 1rem 2.5rem;
  }
  .skill__desc {
    font-size: var(--size-sm);
  }
  .skills {
    font-size: var(--size-sm);
  }
  .skill-icon {
    font-size: var(--size-3xl);
  }
}
/* md */
@media (min-width: 768px) {
  .skills {
    font-size: var(--size-sm);
    color: black;
    letter-spacing: 1px;
  }
  .skill__info {
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
  }
  .skill__title {
    font-size: var(--size-3xl);
  }
  .skill__desc {
    font-size: var(--size-sml);
  }
  .skill-icon {
    font-size: var(--size-3xl);
  }
  .skills__name {
    padding: 1.2rem 0.2rem;
    border-radius: 1.5rem;
    height: 110px;
  }
}

@media (min-width: 768px) {
  .skills__name {
    padding: 1.7rem 0;
    border-radius: 1rem;
  }
}
