@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  /* --clr-primary: #fafafa; */
  /* --clr-primary: #f8f8fc; */
  --clr-primary: #fff;
  --clr-medium: #333333;
  --clr-base: #757575;
  --clr-span: #a987ff;
  --clr-span-bg: #a987ff;

  /* --clr-span-logo: #1b363f; */
  /* --clr-span: #1b363f;
  --clr-span-text: #1b363f;

  --clr-purple: #1b363f;
  --clr-span-logo: #1b363f;
  --clr-span: #1b363f;
  --clr-span-1: #1b363f;
  --clr-span-2: #1b363f;
  --clr-span-3: #1b363f;
  --clr-light: #1b363f;
  --clr-navy: #1b363f; */

  /* --clr-span-logo: #8a60f6;
  --clr-span: #8a60f6;
  --clr-span-bg: #a987ff;
  --clr-span-text: #8a60f6;

  --clr-purple: #8a60f6;
  --clr-span-logo: #8a60f6;
  --clr-span: #8a60f6;
  --clr-span-1: #8a60f6;
  --clr-span-2: #8a60f6;
  --clr-span-3: #8a60f6;
  --clr-light: #8a60f6;
  --clr-navy: #8a60f6; */
  /* --clr-purple: #a0a5fe;
  --clr-span-logo: #617bff;
  --clr-span: #869aff;
  --clr-span-1: #8b9fff;
  --clr-span-2: #0b208b;
  --clr-span-3: #889cff;
  --clr-light: rgb(218, 219, 255);
  --clr-navy: rgb(0, 0, 128);

  /* Sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-xsm: 0.8rem;
  --size-sm: 0.875rem;
  --size-sml: 0.9rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-2lg: 1.6rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-4lg: 2.5rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  /* Font Weight */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* letter spacing */
  --letter-space: 1px;
  --letter-space-sm: 0.5px;

  /* line height */
  --wider-sm: 1.75;
  --wider-lg: 2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-primary);
  color: var(--clr-medium);
}
img,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}
button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

/* rgb(188,191,255) */
/* #F8F8FC */
/* #D7D6ED */
/* rgb(219,209,252) */
